# credentials
**/credentials*.*
**/credentials*
credentials*

# config files
.vscode

# database files
**/*.db
sql.lock

# images
**/*.jpg
**/*.png
**/*.gif
**/*.ico
**/*.svg
images

# test files
*test.*
*test

# python files
**/__pycache__
**/Pipfile
.venv

# text files, except a requirements file, should it exist
*.log
*.txt
*.out
!requirements.txt

# back ups of files hosted remotely
**/backups

# experimental things
libparseform.so
parseform.cpp
parseform.py
cf

# grab template files
!*template.*

# grab ALL markdown files. These are all readmes, setups, and tutorials
!**/*.md
